#onboarding {
  background-image: linear-gradient(90deg, #716dff 3%, #a47dff 100%);
}

#homescreen {
  background-color: black;
}

#menu {
  background-image: linear-gradient(90deg, #716dff 3%, #a47dff 100%);
}

#girl {
  z-index: 10;
  height: 524px;
  position: absolute;
  top: 146px;
  right: 56px;
  pointer-events: none;
}

section {
  width: 1024px;
  height: 768px;
  position: absolute;
  top: 0px;
  left: 0px;
}

body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.info {
  position: absolute;
  left: 932px;
  top: 55px;
  width: 37px;
  height: 37px;
}

.icon {
  position: absolute;
  top: 41px;
  left: 343px;
  width: 339px;
  height: 538px;
}

.boardButton {
  background-color: black;
}

.homeButton {
  background-image: linear-gradient(90deg, #716dff 3%, #a47dff 100%);
}

.title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 64px;
  font-size: 14px;
  color: white;
}

input {
  height: 52px;
  background-color: white;
  border: none;
}

.video-mask {
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
}

.vcontain {
  position: absolute;
  top: 90px;
  left: 25px;
}

button {
  border: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 33px;
  width: 243px;
  height: 66px;
  color: white;
  box-shadow: 0 7px 12px -3px #1c1c1c;
  position: absolute;
  top: 637px;
  left: 391px;
}

.blackButton {
  background-color: black;
}

.textSection {
  position: absolute;
  left: 130px;
  top: 222px;
  width: 400px;
  color: white;
  font-size: 30px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  width: 0;
}

.radio-toolbar label {
  font-family: sans-serif, Arial;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #ffffff;
  border-radius: 30px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  position: absolute;
  top: 394px;
  width: 230px;
  height: 66px;
  text-align: center;
  padding-top: 40px;
  margin-left: -100px;
  font-weight: bold;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: #fff;
  border-color: #fff;
  color: black;
}

#radioMystic {
  left: 130px;
  width: 230px;
  height: 66px;
}

#radioHigher {
  left: 398px;
  width: 230px;
  height: 66px;
  margin: 10px;
}

#radioSteel {
  left: 666px;
  width: 230px;
  height: 66px;
  margin: 10px;
}

#main {
  background: linear-gradient(256deg, #716dff, #a47dff, #f9b4bd);
  background-size: 100% 100%;

  -webkit-animation: AnimationName 18s ease infinite;
  animation: AnimationName 18s ease infinite;

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 51%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 51%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.mainBG {
  background-image: linear-gradient(180deg, #fff 0%, #fff 100%);
  border-radius: 38px;
  position: absolute;
  top: 126px;
  left: 25px;
  width: 974px;
  height: 628px;
}

.mainT {
  color: black;
  position: absolute;
  left: 72px;
  top: 63px;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 30px;
}

.mainP {
  color: black;
  position: absolute;
  font-size: 16px;
  color: #333d5f;
  letter-spacing: 0;
  line-height: 24px;
}

.middleT {
  color: black;
  position: absolute;
  left: 398px;
  top: 63px;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 30px;
}

.middleP {
  color: black;
  position: absolute;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  left: 398px;
  top: 125px;
  width: 177px;
}

.waves {
  position: absolute;
  top: 450px;
  left: -390px;
  width: 1994px;
  height: 295px;
}

.card1 {
  padding-top: 30px;
  background-image: linear-gradient(135deg, #f9b4bd 0%, #9573db 100%);
  box-shadow: 0 2px 5px 0 rgba(83, 97, 255, 0.5);
  border-radius: 8px;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 24px;
  width: 256px;
  height: 120px;
  position: absolute;
  top: 148px;
  left: 72px;
  text-align: center;
}

.card2 {
  padding-top: 30px;
  border-radius: 8px;
  background-image: linear-gradient(134deg, #44dec5 0%, #4ebcfa 100%);
  box-shadow: 0 2px 5px 0 rgba(83, 97, 255, 0.5);
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 24px;
  width: 256px;
  height: 120px;
  position: absolute;
  top: 320px;
  left: 72px;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.back {
  position: absolute;
  right: 932px;
  top: 55px;
}

.menu {
  position: absolute;
  left: 982px;
  top: 55px;
  height: 15px;
  width: 15px;
}

.menuitems {
  position: absolute;
  top: 148px;
  margin: 10px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
  text-align: center;
}

.changetxt {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: white;
  z-index: 100;
}

.results {
  position: absolute;
  left: 42%;
  top: 200px;
}

#tarotname {
  position: absolute;
  left: 15%;
  font-family: NotoSansCJKjp-Bold;
  font-size: 24px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  top: 195px;
  z-index: 100;
}

#yourdraw {
  position: absolute;
  left: 5%;
}

.emphasis {
  font-weight: bold;
  color: white;
}

.second .results {
  position: absolute;
  left: 42%;
  top: 100px;
}

.second #make-image2 {
  position: absolute;
  top: 300px;
}

.second #tarotname2 {
  position: absolute;
  font-family: NotoSansCJKjp-Bold;
  font-size: 24px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  top: 500px;
  z-index: 100;
  left: 15%;
  text-align: center;
}

.second #yourdraw {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: white;
  z-index: 100;
}

.cardoutline {
  position: absolute;
  top: 30%;
  left: 40%;
  width: 185px;
  height: 264px;
  border: 2px dashed #44dec5;
  z-index: 100;
}
